<app-sidebar></app-sidebar>
<div style="margin-left:20%;">
    <div class="w3-container w3-teal">
        <h1>Add-Project</h1>
    </div>
    <div class="w3-container">
        <div class="container" style="margin-top:5%">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Name<span class="text-danger">*</span></label>
                                <input type="email" class="form-control"
                                    formControlName= name>
                                <span *ngIf="name.invalid && (name.dirty
                                    ||name.touched)" class="text-danger">
                                    <span *ngIf="name.errors.required">
                                        Tên project không được để trống
                                    </span>
                                    <span *ngIf="name.errors.maxlength">
                                        Tên project không được quá 50 ký tự
                                    </span>
                                </span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Information</label>
                                <textarea class="form-control"
                                    formControlName= information></textarea>
                                <span *ngIf="information.invalid &&
                                    (information.dirty
                                    ||information.touched)" class="text-danger">
                                    <span *ngIf="information.errors.maxlength">
                                        Thông tin không quá 300 ký tự
                                    </span>
                                </span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Deadline<span class="text-danger">*</span> {{ today }}</label>
                                <input type="date" class="form-control" min="2019-10-18" 
                                    formControlName= deadline>
                                <span *ngIf="deadline.invalid && (deadline.dirty
                                    ||deadline.touched)" class="text-danger">
                                    <span *ngIf="deadline.errors.required">
                                        Deadline không được để trống
                                    </span>
                                </span>
                            </div>
                            <div class="form-group">
                                    <label for="email">Type<span class="text-danger">*</span></label>
                                    <select name="repeatSelect" id="repeatSelect"
                                        class="form-control" formControlName= type>
                                        <option value="1">lab</option>
                                        <option value="2">single</option>
                                        <option value="3">acceptance</option>
                                    </select>
                                    <span *ngIf="type.invalid && (type.dirty
                                        ||type.touched)" class="text-danger">
                                        <span *ngIf="type.errors.required">
                                            Type không được để trống
                                        </span>
                                    </span>
                                </div>
                            <div class="form-group">
                                <label for="email">Status<span class="text-danger">*</span></label>
                                <select name="repeatSelect" id="repeatSelect"
                                    class="form-control" formControlName=
                                    status>
                                    <option value="1">planned</option>
                                    <option value="2">junior</option>
                                    <option value="3">doing</option>
                                    <option value="4">done</option>
                                    <option value="5">cancelled</option>
                                </select>
                                <span *ngIf="status.invalid && (status.dirty
                                    ||status.touched)" class="text-danger">
                                    <span *ngIf="status.errors.required">
                                        Status không được để trống
                                    </span>
                                </span>
                            </div>                            
                            <br>
                            <button type="button" (click)="save()"
                                class="btn btn-success" [disabled]="form.invalid">Lưu lại</button>&nbsp;
                            <button type="button" (click)="clear()"
                                class="btn
                                btn-danger"><a routerLink="/">Hủy</a></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>